requests

tqdm
matplotlib

PyMySQL
sqlalchemy 
sql_magic

pandas
openpyxl

flake8 
flake8-nb 
jupyter 

mistune>=2.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
